<div class="">
  <div class="">
    <div class="">
      <% if @received_requests.any?  %>
        <h4>Received Friend Requests</h4>
        <ul class="list-group">
          <% @received_requests.each do |request| %>
            <li class="row list-group-item d-flex justify-content-between align-items-center">

              <div class="col-5 p-0 m-0 text-left">
                <%= link_to get_full_name_for(request.sender), request.sender %>
              </div>
              <div class="col-4 p-0 m-0 friend_request-links", id="friend_request-<%= request.sender.id %>-links">
                <%= render 'friend_requests/links/accept', resource: request %>
                <%= render 'friend_requests/links/decline', resource: request %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="">
      <%= render 'shared/new_post' %>
    </div>
    <h5 class="">Posts</h5>
    <div class="">
      <%= render @posts %>
    </div>
  </div>
</div>
